body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2e2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#bernie {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid rgb(97, 97, 97);
}

.welcome {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1vh;
  padding: 7px 12px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

#welcome-user {
  margin: 0px;
  display: flex;
  font-size: 20px;
}

.user-container {
  width: 100%; 
  padding: 20px 0px 0px 0px;
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  padding: 0px 10px;
  color: white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}

.App {
  padding: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container {
  display: flex;
  width: 1000px;
  justify-content: space-around;
}
.upcoming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  width: 300px;
  height: 575px;
  padding: 10px 5px;
  background-color: #ffffff;
  border-radius: 1vh;
}
.events-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  height: 600px;
  background-color: #2e2e2e;
  border-radius: 1vh;
  overflow: scroll;
}

.card h1{
  text-align: left;
  font-size: 17px;
  color: #2e2e2e
}
.card p {
  padding: 0px 5px;
}

.card h3 {
  margin: 0;
  cursor: pointer;
}

.card h2 {
  font-style: italic;
  text-decoration: underline;
  font-size: 10px;
  text-align: left;
  margin-left: 0%;
  color: #2e2e2e
}

.card {
  padding: 5px 10px 5px 5px;
  width: 270px;
  height: 140px;
  border-radius: 1vh;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  margin: 10px 0px;
  box-shadow: 0px 1px 5px .5px #717171;
}

.create-event {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 25px;
  top: 35px;
  background-color: white;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  transition: width 0.2s, border-radius 0.2s, font-size 0.2s ease;
}
.create-event::after {
  content: '+';
}
.create-event:hover {
  width: 150px;
  border-radius: 0.5vh;
  font-size: 18px;
}
.create-event:hover::after {
  animation-name: changeContent;
  animation-delay: 100ms;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}
@keyframes changeContent {
  from {
    content: '+';
  }
  to {
    content: 'Create Event';
  }
}

.search {
  outline: none;
  border: none;
  height: 25px;
  width: 200px;
  padding: 5px 15px;
  border-radius: 2vh;
}

.covering {
  width: 100%;
  height: 20px;
  background-color: white;
  position: absolute;
  bottom: 5px;
  border-radius: 1vh;
}